@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
.container {
  @apply w-full bg-white;
}
.wrapper {
  @apply w-full max-w-[1200px] mx-auto px-4;
}
.img-cover {
  @apply object-cover w-full h-full overflow-hidden;
}
.link {
  @apply hover:text-ct-primary;
}