@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif;
  @apply xs:text-[16px] text-[15px];
}
.container {
  @apply w-full bg-white;
}
.wrapper {
  @apply w-full max-w-[1200px] mx-auto px-4;
}
.img-cover {
  @apply object-cover w-full h-full overflow-hidden;
}
.link {
  @apply hover:text-ct-primary;
}

::-webkit-scrollbar {
  @apply h-3 w-5;
}
::-webkit-scrollbar-track {
  @apply rounded-xl mx-[18vw] bg-white;
}
::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-gray-50;
}
.flag-sale {
  clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
}
.ct-product-menu-active {
  @apply font-bold text-ct-secondary relative after:absolute after:w-9 after:h-[3px] after:bottom-0 after:bg-ct-secondary after:left-1/2 after:-translate-x-1/2;
}